# rename trans to translate
alias translate='trans'

# usage: tts "your text goes here"
# if you have some text in a foreign language, you can add the following to your text:
# "-from LANGUAGE". for example: tts "ciao prova" -from it
# uses mpv. change it to vlc if you'd like to use vlc
alias tts="echo $@ | trans -speak -player mpv -no-translate"

# I'd just like to interject for a moment
alias interjection="echo I\'d just like to interject for a moment. What you\'re referring to Linux, is in fact, GNU/Linux, or as I\'ve recently taken to calling it, GNU plus Linux."

# add tabs to vimb (needs tabbed: https://tools.suckless.org/tabbed/)
alias vimb='tabbed -c vimb -e'

# vifm alias to preview images/videos
alias vifm='vifmrun'

# update-grub alias (not present in arch linux by default)
# usually these commands are run after a kernel upgrade
# just to be sure, I'll run them too
alias update-grub='sudo mkinitcpio -P; sudo grub-mkconfig -o /boot/grub/grub.cfg'

# connect to wifi (I use the Arch Wiki's wpa_supplicant config)
alias wifi='sudo wpa_supplicant -Bi wlan0 -c /etc/wpa_supplicant/wpa_supplicant.conf; sudo dhcpcd wlan0'

# kill picom/compton before starting obs, otherwise the recording won't look right
alias obs='pkill picom; obs'

# show custom arch logo with neofetch & disable color blocks
#alias neofetch='neofetch --color_blocks off --kitty archlogo.png'
alias neofetch='neofetch --color_blocks off --kitty italiarch.png'

# replace ls with exa
alias ls='exa --icons --group-directories-first'

# show ANSI color escapes and avoid line wrapping
alias less='less -RS'

# when I type too fast
alias vmi='vim'

# force kill a process
alias force-kill='killall -9 $1'

# rot13 encryption
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# screen locking using slock
alias lockscreen='slock -m "Locked at $(date "+%a %d, %H:%M:%S") $(printf "\nRandom quote: ") $(fortune)"'
