# use doas instead of sudo
[ $(which doas) ] && alias sudo="doas" && alias yay="yay --sudo doas"

# replace ls with exa, if exa is installed
[ $(which exa) ] && alias ls='exa --icons --group-directories-first --color=always' || alias ls="ls --group-directories-first --color=always"

# use neovim instead of vim if nvim is installed
[ $(which nvim) ] && alias vim="nvim" && alias vmi="nvim" && alias n="nvim" || alias vmi = "vim"

# rename trans to translate
[ $(which trans) ] && alias translate='trans'

# usage: tts "your text goes here"
# if you have some text in a foreign language, you can add the following to your text:
# "-from LANGUAGE". for example: tts "ciao prova" -from it
# uses mpv. change it to vlc if you'd like to use vlc
[ $(which trans) ] && alias tts="echo $@ | trans -speak -player mpv -no-translate"

# make programs verbose
alias \
	cp="cp -v" \
	ln="ln -v" \
	mv="mv -v" \
	rm="rm -v" \
	rsync="rsync -v" \
	su="su -l" \
	LS="sl -alc" \
	sl="sl -alc" \
	less='less -RS'

# add color support to grep and others
alias \
	grep='grep --color=auto' \
	vdir='vdir --color=always' \
	egrep='egrep --color=always' \
	fgrep='fgrep --color=always'
	dir='dir --color=always' \

# miscellaneous
alias \
	debug="valgrind --tool=memcheck --leak-check=yes --leak-check=full --show-reachable=yes --leak-resolution=high --trace-children=yes --track-origins=yes -s" \
	mail="neomutt" \
	mpv-hi="mpv --vo=gpu --hwdec=vaapi --opengl-pbo --drm-draw-plane=overlay --drm-drmprime-video-plane=primary --drm-draw-surface-size=1920x1080" \
	neofetch="neofetch --color_blocks off" \
	poweroff='doas /usr/bin/poweroff' \
	reboot='doas /usr/bin/reboot' \
	rot13='tr a-zA-Z n-za-mN-ZA-M' \
	surf="tabbed -c surf -BNPTeg & disown" \
	update-grub='sudo mkinitcpio -P; sudo grub-mkconfig -o /boot/grub/grub.cfg' \
	vimpager='/usr/share/vim/vim82/macros/less.sh' \
	wifi='sudo wpa_supplicant -Bi wlp3s0 -c /etc/wpa_supplicant/wpa_supplicant.conf; sudo dhcpcd wlp3s0'

# Video4Linux2 virtual webcam settings
# check out https://github.com/umlaeute/v4l2loopback/wiki/GStreamer for more
alias \
	fakecam-snow='gst-launch-1.0 -v videotestsrc pattern=snow ! "video/x-raw,width=640,height=480,framerate=15/1,format=YUY2" ! v4l2sink device=/dev/video2' \
	fakecam-smpte='gst-launch-1.0 -v videotestsrc pattern=smpte horizontal-speed=1 ! "video/x-raw,width=1280,height=720,framerate=30/1,format=YUY2" ! v4l2sink device=/dev/video2' \
	fakecam-desktop="gst-launch-1.0 -v ximagesrc startx=1 starty=1 endx=320 endy=240 ! videoconvert ! "video/x-raw,format=YUY2" ! v4l2sink device=/dev/video2" \
	fakecam-video="ffmpeg -stream_loop -1 -re -i $1 -vf hvflip -map 0:v -vf format=yuv420p -f v4l2 /dev/video2" \
	webcam-inc-contrast="v4l2-ctl --set-ctrl contrast=35" \
	webcam-dec-contrast="v4l2-ctl --set-ctrl contrast=0" \
	webcam-inc-brightness="v4l2-ctl --set-ctrl brightness=85" \
	webcam-dec-brightness="v4l2-ctl --set-ctrl brightness=0" \
	webcam-inc-saturation="v4l2-ctl --set-ctrl saturation=80" \
	webcam-dec-saturation="v4l2-ctl --set-ctrl saturation=0" \
	webcam-inc-sharpness="v4l2-ctl --set-ctrl sharpness=7" \
	webcam-dec-sharpness="v4l2-ctl --set-ctrl sharpness=2" \

# ranger aliases
alias \
	dsk="ranger ~/Desktop" \
	shr="ranger ~/Android" \
	sts="ranger ~/.local/bin" \
	docs="ranger ~/Documents" \
	pics="ranger ~/Pictures" \
	scrs="ranger ~/.config/scripts" \
	sync="ranger ~/Android" \
	vids="ranger ~/Videos" \
	files="ranger ." \
	trash="ranger ~/.local/share/Trash/files" \
	walls="ranger ~/wallpapers" \
	browse="ranger ." \
	videos="ranger ~/Videos" \
	desktop="ranger ~/Desktop" \
	documents="ranger ~/Documents" \
	downloads="ranger ~/Downloads"
