# use doas instead of sudo
[ $(which doas) ] && alias sudo="doas"

# replace ls with exa, if exa is installed
[ $(which exa) ] && alias ls='exa --icons --group-directories-first --color=always' || alias ls="ls --group-directories-first --color=always"

# use neovim instead of vim if nvim is installed
[ $(which nvim) ] && alias vim="nvim" && alias vmi="nvim" || alias vmi = "vim"

# rename trans to translate
[ $(which trans) ] && alias translate='trans'

# usage: tts "your text goes here"
# if you have some text in a foreign language, you can add the following to your text:
# "-from LANGUAGE". for example: tts "ciao prova" -from it
# uses mpv. change it to vlc if you'd like to use vlc
[ $(which trans) ] && alias tts="echo $@ | trans -speak -player mpv -no-translate"

# make programs verbose
alias \
	cp="cp -v" \
	ln="ln -v" \
	mv="mv -v" \
	rm="rm -v" \
	rsync="rsync -v" \
	su="su -l" \
	LS="sl -alc" \
	sl="sl -alc" \
	less='less -RS'

# add color support to grep and others
alias \
	grep='grep --color=auto' \
	vdir='vdir --color=always' \
	egrep='egrep --color=always' \
	fgrep='fgrep --color=always'
	dir='dir --color=always' \
	neofetch='neofetch --color_blocks off'

# miscellaneous
alias \
	rot13='tr a-zA-Z n-za-mN-ZA-M' \
	update-grub='sudo mkinitcpio -P; sudo grub-mkconfig -o /boot/grub/grub.cfg' \
	wifi='sudo wpa_supplicant -Bi wlan0 -c /etc/wpa_supplicant/wpa_supplicant.conf; sudo dhcpcd wlan0' \

# Video4Linux2 virtual webcam settings
# check out https://github.com/umlaeute/v4l2loopback/wiki/GStreamer for more
alias \
	fakecam-snow='gst-launch-1.0 -v videotestsrc pattern=snow ! "video/x-raw,width=640,height=480,framerate=15/1,format=YUY2" ! v4l2sink device=/dev/video2' \
	fakecam-smpte='gst-launch-1.0 -v videotestsrc pattern=smpte horizontal-speed=1 ! "video/x-raw,width=1280,height=720,framerate=30/1,format=YUY2" ! v4l2sink device=/dev/video2' \
	fakecam-desktop="gst-launch-1.0 -v ximagesrc startx=1 starty=1 endx=320 endy=240 ! videoconvert ! "video/x-raw,format=YUY2" ! v4l2sink device=/dev/video2" \
	fakecam-video="ffmpeg -stream_loop -1 -re -i ~/Videos/video.mp4 -vf hvflip -map 0:v -vf format=yuv420p -f v4l2 /dev/video2" \

# ranger aliases
alias \
	dsk="ranger ~/Desktop" \
	shr="ranger ~/Android" \
	sts="ranger ~/.local/bin" \
	docs="ranger ~/Documents" \
	pics="ranger ~/Pictures" \
	scrs="ranger ~/.config/scripts" \
	sync="ranger ~/Android" \
	vids="ranger ~/Videos" \
	files="ranger ." \
	trash="ranger ~/.local/share/Trash/files" \
	walls="ranger ~/wallpapers" \
	browse="ranger ." \
	videos="ranger ~/Videos" \
	desktop="ranger ~/Desktop" \
	torrents="ranger ~/Downloads/Torrents" \
	documents="ranger ~/Documents" \
	downloads="ranger ~/Downloads"
